@model MVC_Test.Models.User
@{
    ViewBag.Title = "Register";
}


<div class=" col-md-6 col-md-offset-3 ">
    <div class="login-form header-anim">
        <div class="close"> </div>
        <div class="head-info">
            <label class="lbl-1"> </label>
            <label class="lbl-2"> </label>
            <label class="lbl-3"> </label>
        </div>
        <div class="clear"> </div>
        <div class="avtar">
            <img src="~/Content/images/avtar.png" />
        </div>
        
        @using (@Html.BeginRouteForm("registerValidation"))
        {
            @Html.TextBoxFor(user => user.Email , new { placeholder = "Enter Email" , @class="username"})
            @Html.PasswordFor(user => user.Password , new {placeholder="Enter Password" , @class="passwordtxt"})
            @Html.PasswordFor(user => user.ConfirmPassword, new { placeholder = "Confirm Password", @class = "passwordtxt" })
            <div class="signin">
                <input type="submit" class="submitBtn" value="Register">
            </div>
        }


        
        
    </div>
</div>
