@{
    ViewBag.Title = "About";
}
@section Banner
{
   @Html.Partial("bannerSmall")
}

<div class="col-md-12">
    <div class="w3agile-1">
        <div class="team">
            <h3 class="team-heading">Meet our team</h3>
            <div class="team-grids">
                <div class="col-md-6 team-grid">
                    <div class="team-grid1">
                        <img src="~/Content/images/sifat.jpg" alt=" " class="img-responsive">

                    </div>
                    <h5>Sifat Ahmed<span>Developer</span></h5>
                    <ul class="social">
                        <li>
                            <a class="social-facebook" href="#">
                                <i></i>
                                <div class="tooltip"><span>Facebook</span></div>
                            </a>
                        </li>
                        <li>
                            <a class="social-twitter" href="#">
                                <i></i>
                                <div class="tooltip"><span>Twitter</span></div>
                            </a>
                        </li>
                        <li>
                            <a class="social-google" href="#">
                                <i></i>
                                <div class="tooltip"><span>Google+</span></div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 team-grid">
                    <div class="team-grid1">
                        <img src="~/Content/images/tabsun.jpg" alt=" " class="img-responsive">

                    </div>
                    <h5>Fatima Tabsun<span>Developer</span></h5>
                    <ul class="social">
                        <li>
                            <a class="social-facebook" href="#">
                                <i></i>
                                <div class="tooltip"><span>Facebook</span></div>
                            </a>
                        </li>
                        <li>
                            <a class="social-twitter" href="#">
                                <i></i>
                                <div class="tooltip"><span>Twitter</span></div>
                            </a>
                        </li>
                        <li>
                            <a class="social-google" href="#">
                                <i></i>
                                <div class="tooltip"><span>Google+</span></div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 team-grid">
                    <div class="team-grid1">
                        <img src="~/Content/images/dim.jpg" alt=" " class="img-responsive">

                    </div>
                    <h5>Tasnim Ferdous<span>Developer</span></h5>
                    <ul class="social">
                        <li>
                            <a class="social-facebook" href="#">
                                <i></i>
                                <div class="tooltip"><span>Facebook</span></div>
                            </a>
                        </li>
                        <li>
                            <a class="social-twitter" href="#">
                                <i></i>
                                <div class="tooltip"><span>Twitter</span></div>
                            </a>
                        </li>
                        <li>
                            <a class="social-google" href="#">
                                <i></i>
                                <div class="tooltip"><span>Google+</span></div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 team-grid">
                    <div class="team-grid1">
                        <img src="~/Content/images/nafi.jpg" alt=" " class="img-responsive">

                    </div>
                    <h5>Nafiul Nawjis<span>Developer</span></h5>
                    <ul class="social">
                        <li>
                            <a class="social-facebook" href="#">
                                <i></i>
                                <div class="tooltip"><span>Facebook</span></div>
                            </a>
                        </li>
                        <li>
                            <a class="social-twitter" href="#">
                                <i></i>
                                <div class="tooltip"><span>Twitter</span></div>
                            </a>
                        </li>
                        <li>
                            <a class="social-google" href="#">
                                <i></i>
                                <div class="tooltip"><span>Google+</span></div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="clearfix"> </div>

            </div>
        </div>
    </div>
</div>