@{
    ViewBag.Title = "Product";
}

@section Banner
{
    @Html.Partial("bannerSmall")
}

<div class="col-md-8">
    <div class="agileinfo">
        <div class="row col-md-12">
            <div class="col-md-4 item-photo">
                <img style="max-width: 100%;" src="~/Content/images/feluda.jpg" />
            </div>
            <div class="col-md-6" style="border: 0px solid gray; margin-left: 2em">
                <!-- Datos del vendedor y titulo del producto -->
                <h3>@ViewData["ID"]. Feluda Samagra</h3>
                <h4 style="color: #337ab7">By <a href="#">Sifat Ahmed</a> · <small style="color: #337ab7">(2 Offers)</small></h4>
                <!-- Precios -->
                <h6 class="title-price">PRICE</h6>
                <h3 style="margin-top: 0px;">BDT 320.00</h3>

                <h5 style="margin-top: 3em;">Category: <a href="#">Detective </a></h5>

                <h5 style="margin-top: 0.5em;">Tags: <a href="#">Used </a></h5>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-12">
                <ul class="menu-items" style="margin-top: 5em;">
                    <li class="active" style="font-size: 1.5em">Details</li>
                </ul>
                <div style="width: 100%; border-top: 2px solid silver">
                    <p style="padding: 10px; font-size: 1.2em;">
                        <small>
                            ফেলুদার আরেকটি দুর্দান্ত গোয়েন্দাগল্প। সমাদ্দারের চাবি গল্পটির শুরু হয় রাধারমণ সমাদ্দার নামের এক ধনী বৃদ্ধ প্রয়াত হওয়ার সূত্র ধরে। রাধারমণ বাবু পেশায় উকিল হলেও তাঁর ঝোঁক ছিল গান-বাজনার দিকে, তাই পয়সা ও পসার হয়ে গেলে তিনি ওকালতি ছেড়ে শুধু গান ও বাদ্যযন্ত্র সংগ্রহের দিকে মন দেন। সঙ্গীতের নেশা আর কৃপণস্বভাবের কারণে হাতেগোণা দুয়েকজন বাদে রাধারমণবাবুর সাথে কারোরই খুব একটা যোগাযোগ ছিল না, তাই তিনি মারা গেলে মণিমোহন সমাদ্দার নামের এক ভাইপোর হাতে তাঁর বিষয়-সম্পত্তির ভার এসে পড়ে। সদ্যপ্রয়াত কাকা যে যথেষ্ট ধনী ছিলেন, মণিমোহনবাবু তা জানতেন, কিন্তু কাকার ঘর তন্ন তন্ন করে খুঁজেও বাদ্যযন্ত্র ছাড়া আর কিছু খুঁজে না পেয়ে শেষ পর্যন্ত তিনি ফেলুদার শরণাপন্ন হন। অনুরোধটি অভিনব, তাই ফেলুদা হারানো টাকার হেঁয়ালী সমাধানে রাজি হয়, কিন্ত তাঁর ধারণা ছিলনা যে প্রয়াত রাধারমণের বুদ্ধি ও বর্তমান চরিত্রদের কার্যকলাপ রহস্যটিকে কতটা প্যাঁচালো করে তুলবে।
                            ইংরেজি ভাষায় লিখা বই বাংলায় অনুবাদ হবে এটাই স্বাভাবিক। কিন্তু হাতে গোনা যে কয়টি বাংলা বই ইংরেজি ভাষায় অনুবাদ হয়েছিল তারমধ্যে ফেলুদা একটি।যা বাংলা সাহিত্যে এক বিরল দৃষ্টান্ত। বাংলা সাহিত্যে ফেলুদর মত গোয়েন্দা চরিত্র খুব আছে। আমার কাছে মনে হয়েছে শার্লক হোমস গল্প পড়ে, সত্যজিৎ রায় শার্লক হোমসের মত করে ফেলুদা চরিত্র আর ড.ওয়াটসনের মত করে তৈরী করেন তাপসের চরিত্রটি। সত্যজিৎ রায়ের ক্রাইম ফিকশনের প্রতি গভীর আগ্রহ ছিল। ফেলুদা পড়লে তা সহজেই বুঝা যায়।ফেলুদা বাংলা সাহিত্যের একটি বিখ্যাত চরিত্র।লেখক ও নির্মাতা সত্যজিৎ রায়ের চমৎকার সৃষ্টি এই ফেলুদা। ফেলুদা পেশায় প্রাইভেট গোয়েন্দা। তার পুরো নাম প্রদোশ চন্দ্র মিত্  দীর্ঘদেহী এক লোক। চোখে তার অন্তর্ভেদী দৃষ্টি, মুখে ঝুলছে একটা চারমিনার। মানুষকে এক নজর দেখেই বলে দিতে পারেন তার সম্পর্কে অনেক কিছু। তাপস হচ্ছে ফেলুদার কাজিন। আর জটায়ু হচ্ছে জনপ্রিয় থ্রিলার লেখক লালমোহন গাঙ্গুলি।ফেলুদার সঙ্গে প্রায়ই সঙ্গী হিসেবে থাকেন তাপস এবং জটায়ু। তাপসে চরিত্রিটকে লেখক দেখিয়েছেন সৎ,মেধাবি এবং দক্ষ গোয়েন্দা সহকারি হিসাবে।ফেলুদার প্রতিটি অভিযানে সহকারী হিসেবে সে পালন করে গুরুত্ত্বপুর্ণ ভুমিকা। আর ফেলুদার বন্ধু লালমোহন গাঙ্গুলি ওরফে “জটায়ু”র(ছদ্মনাম)আগমন ফেলুদা সিরিজকে তুমুল জনপ্রিয়তা এনে দেয়।ফেলুদার পাশাপাশি “জটায়ু” চরিত্রটিও বাংলা সাহিত্যে অমর হয়ে থাকবে। সত্যজিৎ রায় ফেলুদাকে দারুণ ভ্রমণ প্রিয় মানুষ হিসাবেও উপস্থাপন করেছেন।তাই ফেলুদা কাহিনীগুলোতে বিভিন্ন জায়গার চমৎকার বর্ননা পাওয়া যায়। ফেলুদার প্রথম কাহিনীর নাম হচ্ছে ফেলুদার গোয়েন্দাগিরি। সত্যজিৎ রায় দুটো ফেলুদা চলচ্চিত্র নির্মাণকরেছিলেন। একটি হচ্ছে সোনার কেল্লা এবং আরকটি হচ্ছে জয় বাবা ফেলুনাথ। জয় বাবা ফেলুনাথ এবং যত কাণ্ড কাঠমান্ডুতে এই দুটি গল্প অসাধারন। অধিকাংশ ফেলুদা বইয়ের প্রচ্ছদ সত্যজিৎ রায়ের নিজের আঁকা। বাংলা সাহিত্যের ভান্ডারে গোয়েন্দা কাহিনী প্রায় নেই বললেই চলে, বেশির ভাগই বিদেশী গল্পের অনুবাদ, সেদিক থেকে চিন্তা করলে সত্যজিৎ রায়ের ফেলুদা আসাধারন।
                        </small>
                    </p>
                    <div style="margin-left: 3em; margin-top: 3em; margin-bottom: 5em;">
                        <ul>
                            <li>Super AMOLED capacitive touchscreen display with 16M colors</li>
                            <li>Available on GSM, AT T, T-Mobile and other carriers</li>
                            <li>Compatible with GSM 850 / 900 / 1800; HSDPA 850 / 1900 / 2100 LTE; 700 MHz Class 17 / 1700 / 2100 networks</li>
                            <li>MicroUSB and USB connectivity</li>
                            <li>Interfaces with Wi-Fi 802.11 a/b/g/n/ac, dual band and Bluetooth</li>
                            <li>Wi-Fi hotspot to keep other devices online when a connection is not available</li>
                            <li>SMS, MMS, email, Push Mail, IM and RSS messaging</li>
                            <li>Front-facing camera features autofocus, an LED flash, dual video call capability and a sharp 4128 x 3096 pixel picture</li>
                            <li>Features 16 GB memory and 2 GB RAM</li>
                            <li>Upgradeable Jelly Bean v4.2.2 to Jelly Bean v4.3 Android OS</li>
                            <li>17 hours of talk time, 350 hours standby time on one charge</li>
                            <li>Available in white or black</li>
                            <li>Model I337</li>
                            <li>Package includes phone, charger, battery and user manual</li>
                            <li>Phone is 5.38 inches high x 2.75 inches wide x 0.13 inches deep and weighs a mere 4.59 oz </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="clearfix"></div>

        <div class="coment-form" style="margin-top: 5em;">
            <h4>Leave your comment</h4>
            <form action="#" method="post">
                <textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Comment...';}" required>Your Comment...</textarea>
                <input class="pull-right" style="margin-top: 3em;" type="submit" value="Submit Comment">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="col-md-4 agileinfo">

    <div class="response">
        <h4>Responses</h4>
        <div class="media response-info">
            <div class="media-left response-text-left">
                <a href="#">
                    <img src="~/Content/images/sifat.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="media-body response-text-right">
                <p>১০০ টাকা দেই ভাই?? একটা লাস্ট দাম বলেন</p>
                <ul>
                    <li>Jun 21, 2016</li>
                </ul>

            </div>
            <div class="clearfix"></div>

        </div>
        <div class="clearfix">
            <br>
        </div>
        <div class="clearfix">
            <br>
        </div>

    </div>
</div>

<!-- technology-right -->

<div class="clearfix"></div>