<div class="banner">
    <div class="header-bottom">
        <div class="container">
            <div class="logo fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                <div>
                    <h1>@Html.ActionLink("BoiBodol.com", "index", "Home")</h1>
                </div>
            </div>
        </div>
    </div>
</div>